.singleblog {
  max-width: 60%;

  @media only screen and (max-width: 1000px) {
    max-width: 80%;
  }
  @media only screen and (max-width: 700px) {
    max-width: 95%;
  }
  margin: 2rem auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 1rem;
  background-color: whitesmoke;

  &__img-box {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    max-width: inherit;
    max-height: 30rem;

    border-radius: 7px;
  }

  &__title {
    text-align: center;
    font-family: 'Lora';
    margin: 1rem;
  }

  &__edit {
    float: right;

    i {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  &__author {
    font-size: 1.3rem;

    &-text {
      margin-left: 0.5rem;
    }
  }

  &__date {
    font-size: 1.2rem;
    text-decoration: underline;
  }

  &__desc {
    font-size: 1.3rem;

    &::first-letter {
      margin-left: 3rem;
      font-family: 'Lora';
      font-size: 3rem;
      font-weight: 600;
    }
  }

  &__content {
    border-top: 1px solid black;
    padding: 2rem;
  }
}
